@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {

    background-color:  white;
    padding-top: 62px; /*pushes the top of the header down under fixed navbar*/
}
/*Navbar custom CSS style*/

.navbar-brand img {
  height: 50px;
  width: auto;
}

.navbar * {
color: rgb(15, 4, 57);
  font-size: 1.2rem;  
  font-weight: 500;   
  padding: 0.2rem 0.2rem;
 

}
.navbar .btn-primary {
  color: #ffffff !important;
  justify-content: center;
  background-color:   rgb(15, 4, 57);
}
.navbar .btn-primary:hover {
background-color:  rgb(37, 8, 155);

}

.navbar .nav-link:hover {
color: rgb(160, 106, 218);
}
.navbar .dropdown-item:hover {
    color: rgb(160, 106, 218);

}

section {
            color: rgb(15, 4, 57); 
     text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    font-family: "DM Serif-Display", serif;
    padding: 20px;
}


/*Main section*/

.myvideo {
    width: 100%;
    border: 3px solid black;
    border-radius: 15px;
    height: 500px;
    margin: 2rem 2rem;
}
.video-container {

    text-align: center;
}












    /*Contact info*/
#contact1 {
  background-color: rgba(0, 19, 53);
  color: white;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  font-family: "Poppins", serif;



}
#contact1 .color1 {
  font-family: "DM Serif-Display", serif;
   color: rgb(160, 106, 218);
}

#contact1 #table1 * {
  background-color: transparent;
  color: white;
  margin-bottom: 2rem;
}
#contact i {
    color: white;
    font-size: 1.2rem;
    margin-right: 15px;
}

.social-links i {

    color: rgb(160, 106, 218);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out; 
}

.social-links i:hover {
    color: rgb(56, 18, 96);

}




/* Media queries medium screens */
@media (max-width: 760px) {
   /*to make the navbar collapse properly*/
 .navbar * {
color: rgb(15, 4, 57);
  font-size: 92%;  
  font-weight: 500;   
  padding: 0.5rem 1rem; 
  margin-right: 10px;}

  .navbar .btn-primary * {
  color: #ffffff !important;
  background-color:   rgb(15, 4, 57);
  width: 100px;
}
.navbar .btn-primary:hover {
background-color:  rgb(37, 8, 155);

}
.navbar-nav * {
  width: 100px !important;
}
form {

  width: 100%;
  padding: 2rem;
}
/*Main section for smaller screens*/

.myvideo {
    width: 100%;
    border: 3px solid black;
    border-radius: 15px;
    height: auto;
    margin: 2rem 2rem;
}
.video-container {

    text-align: center;
}


 }

/* Media queries medium screens */
@media (max-width: 1000px) {
   /*to make the navbar collapse properly*/
 .navbar * {
color: rgb(15, 4, 57);
  font-size: 92%;  
  font-weight: 500;   
  padding: 0.2rem 0.2rem;
margin-right: 5px }

 }


 /* Media queries Laptop screens */
@media (max-width: 1200px) {
   /*to make the navbar collapse properly*/
 .navbar * {
color: rgb(15, 4, 57);
  font-size: 95%;  
  font-weight: 500;   
  padding: 0.2rem 0.2rem;
margin-right: 5px }

 }