@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {

    background-color:  white;
    padding-top: 62px; /*pushes the top of the header down under fixed navbar*/
    min-height: 100vh; /*pushes the footer to the bootom*/ /*Success page*/
}
/*Navbar custom CSS style*/

.navbar-brand img {
  height: 50px;
  width: auto;
}


/*Log in section*/
body {
      background-color: white;
      font-family: 'Poppins', sans-serif;
      display: flex;
      flex-direction: column;
    }


    .container {
      max-width: 1200px;
    
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
    }
   

    .login-header {
      text-align: center;
      margin-top: 70px;
      margin-bottom: 40px;
    }

    .login-header h1 {
      font-weight: 650;
      font-size: 3.5rem;
    }

    .login-header a {
      text-decoration: none;
      font-weight: 500;
      color:  rgb(160, 106, 218);
    }

    .form-control {
      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      padding-left: 0;
      box-shadow: none !important;
    }

    .btn-email {
      border: 1px solid rgb(15, 4, 57);
      border-radius: 30px;
      padding: 10px 20px;
      color: rgb(15, 4, 57);
      background-color: white;
      transition: 0.3s;
    }

    .btn-email:hover {
      background-color: rgb(15, 4, 57);
      color: white;
    }
    .email {
        color: rgb(160, 106, 218);
    }


    .content h1, p {
      color: rgb(15, 4, 57);
       text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);

    }

    .footer p {
      color: white;
    }


    /*Social buttons*/
    .social-btn {
      width: 20rem;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 10px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-radius: 4px;
    }

    .google-btn {
      background-color: #4285f4;
      color: white;
      border: none;
    }

    .facebook-btn {
      background-color: #3b5998;
      color: white;
      border: none;
    }

    .apple-btn {
      border: 1px solid #000;
      color: #000;
      background: white;
    }



    /*Success page*/
 /*To bring a footer to the bottom*/
.content {
      flex: 1;
      margin: 2rem;
}
   
    .btn-outline-dark {
      color: white;
      background-color:rgb(15, 4, 57);
      transition: 0.3s;
      border-radius: 30px;
      padding: 10px 20px;
    }

  .btn-outline-dark:hover {
      border: 1px solid rgb(15, 4, 57);
      border-radius: 30px;
      padding: 10px 20px;
      background-color: transparent;
      color:rgb(15, 4, 57);
    }

/*Success page*/
    /*Contact info*/
#contact1 {
  background-color: rgba(0, 19, 53);
  color: white;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  font-family: "Poppins", serif;



}
#contact1 .color1 {
  font-family: "DM Serif-Display", serif;
   color: rgb(160, 106, 218);
}

#contact1 #table1 * {
  background-color: transparent;
  color: white;
  margin-bottom: 2rem;
}
#contact i {
    color: white;
    font-size: 1.2rem;
    margin-right: 15px;
}

.social-links i {

    color: rgb(160, 106, 218);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

.social-links i:hover {
    color: rgb(56, 18, 96);

}






    /* Media queries */
@media (max-width: 760px) {


    .social-btn {
        width:auto; 
        padding-left: 2px;
        padding-right: 2px;
    }
}














