@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {

    background-color:  white;
    padding-top: 62px; /*pushes the top of the header down under fixed navbar*/
}
/*Navbar custom CSS style*/

.navbar-brand img {
  height: 50px;
  width: auto;
}


/*Log in section*/
body {
      background-color: #fff;
      font-family: 'Poppins', sans-serif;
    }


    .container {
      max-width: 1200px;
    
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
    }
   

    .login-header {
      text-align: center;
      margin-top: 70px;
      margin-bottom: 40px;
    }

    .login-header h1 {
      font-weight: 650;
      font-size: 3.5rem;
    }

    .login-header a {
      text-decoration: none;
      font-weight: 500;
      color: #007bff;
    }

    .form-control {
      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      padding-left: 0;
      box-shadow: none !important;
    }

    .btn-email {
      border: 1px solid #007bff;
      border-radius: 30px;
      padding: 10px 20px;
      color: #007bff;
      background-color: #fff;
      transition: 0.3s;
    }

    .btn-email:hover {
      background-color: #007bff;
      color: #fff;
    }

    .social-btn {
      width: 20rem;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 10px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-radius: 4px;
    }

    .google-btn {
      background-color: #4285f4;
      color: white;
      border: none;
    }

    .facebook-btn {
      background-color: #3b5998;
      color: white;
      border: none;
    }

    .apple-btn {
      border: 1px solid #000;
      color: #000;
      background: white;
    }

    footer {
      text-align: center;
      margin-top: 40px;
      font-size: 1.1rem;
      color: #666;
    }

    footer a {
      text-decoration: none;
      color: #007bff;
    }

   





    /* Media queries */
@media (max-width: 739px) {


    .social-btn {
        width:auto; 
        padding-left: 2px;
        padding-right: 2px;
    }
}