@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {

    background-color:  white;
    padding-top: 62px; /*pushes the top of the header down under fixed navbar*/
}
/*Navbar custom CSS style*/

.navbar-brand img {
  height: 50px;
  width: auto;
}

.navbar * {
color: rgb(15, 4, 57);
  font-size: 1.2rem;  
  font-weight: 500;   
  padding: 0.2rem 0.2rem;  
  

}
.navbar .btn-primary {
  color: white !important;
  justify-content: center;
  background-color:   rgb(15, 4, 57);
}
.navbar .btn-primary:hover {
background-color:  rgb(37, 8, 155);

}

.navbar .nav-link:hover {
color: rgb(160, 106, 218);
}
.navbar .dropdown-item:hover {
    color: rgb(160, 106, 218);

}

  

/*About section*/ 
main #about * {
    color: rgb(15, 4, 57);

}
#about{
    background-color: white;
} 

/*About section video openart ai*/

.myvideo {
    width: auto;
    border: 3px solid black;
    border-radius: 15px;
    height: 500px;
    margin: 1rem 1rem;
  
}
.video-container {

    text-align: center;
}



/*Templates*/
#templates {
    background-color:rgba(0, 19, 53);

}   

#templates h2 {
  color: rgb(160, 106, 218);
    text-shadow: 4px 4px 10px rgb(255, 255, 255, 0.3);
}

.scroll-gallery {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: 1rem;
      padding: 1rem;
      
    }

    .scroll-gallery::-webkit-scrollbar {
      display: none;
    }

    .scroll-item {
      flex: 0 0 auto;
      width: auto;
      height: 30rem;
      border-radius: 12px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      transition: transform 0.3s ease;
    }

    .scroll-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .scroll-item:hover {
      transform: scale(1.05);
    }

 
 
/*All-inclusive*/

#all-inclusive5{
  background-color: white;
}

/*Contact section*/
#contact {
    background-color: white;
    font-family: "Poppins", sans-serif;
    
}
#contact h2 {
    color: rgb(15, 4, 57); 
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    font-family: "DM Serif Display", serif;
}


     footer {
      text-align: center;
      margin-top: 40px;
      font-size: 1.1rem;
      color: rgb(15, 4, 57);
    }



    /*Contact info*/
#contact1 {
  background-color: rgba(0, 19, 53);
  color: white;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);

}
#contact1 .color1 {
  font-family: "DM Serif Display", serif;
   color: rgb(160, 106, 218);
}

#contact1 #table1 * {
  background-color: transparent;
  color: white;
  margin-bottom: 2rem;
}
#contact i {
    color: white;
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {

    color: rgb(160, 106, 218);
    font-size: 1.9rem; 
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: rgb(56, 18, 96);

}

#contact1 {

  text-align: left !important;
 
  font-family: "Poppins", sans-serif;

}

/*for marketing html*/

.marketing h1, 
.marketing h2 {
   color: rgb(15, 4, 57); 
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    font-family: "DM Serif Display", serif;
}
.promotions {

  font-family: "Poppins", sans-serif;
 
}
.marketing p {
    color:rgb(160, 106, 218);
}

h3 {

color:rgb(160, 106, 218);
 font-family: "Poppins", sans-serif;
}
.btn {

  color:white !important;
  justify-content: center;
  background-color:rgb(15, 4, 57);
}
.btn:hover {
background-color:rgb(37, 8, 155);
}

/*All-inclusive section*/

#All-inclusive {

  scroll-margin-top: 100px;

  margin-top: 20px;
  text-align: center;
   font-family: "DM Serif Display", serif;
   font-size: xx-large;
   text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
   color: rgb(15, 4, 57);

}
.inclusive2{
   margin-top: 20px;
   font-family: "Poppins", sans-serif;
   font-size: larger;
  
   padding: 20px;
   color: rgb(15, 4, 57);

}

 


  

  

    

/* Media queries medium screens */
@media (max-width: 760px) {
   /*to make the navbar collapse properly*/
 .navbar * {
color: rgb(15, 4, 57);
  font-size: 92%;  
  font-weight: 500;   
  padding: 0.5rem 1rem;}

  .navbar .btn-primary * {
  color: white !important;
  background-color:   rgb(15, 4, 57);
  width: 100px;
}
.navbar .btn-primary:hover {
background-color:  rgb(37, 8, 155);

}
.navbar-nav * {
  width: 100px !important;
}

 
/*Main section for smaller screens*/

.myvideo {
    width: 100%;
    border: 3px solid black;
    border-radius: 15px;
    height: auto;
    margin: 1rem 1rem;
}
.video-container {

    text-align: center;
}
.inclusive2{
   margin-top: 20px;
   font-family: "Poppins", sans-serif;
   font-size: larger;
  
   padding: 5px;
}

 }

 /* Media queries - to move div closer to the bottom on small screens */
@media (max-width: 768px) {
 
    
}

/* Media queries medium screens */
@media (max-width: 1000px) {
   /*to make the navbar collapse properly*/
 .navbar * {
color: rgb(15, 4, 57);
  font-size: 95%;  
  font-weight: 500;   
  padding: 0.2rem 0.2rem;}

  /*Main section for smaller screens*/

.myvideo {
    width: 100%;
    border: 3px solid black;
    border-radius: 15px;
    height: auto;
    margin: 2rem 2rem;
}
.video-container {

    text-align: center;
}
.col-md-4 {
    width: 100%;
}
.col-md-8 {

    width: 97%;
}
 }





/* Media queries move div closer to the center on tablet screens */
@media (max-width: 1200px) {
 
   .navbar * {
color: rgb(15, 4, 57);
  font-size: 95%;  
  font-weight: 500;   
  padding: 0.2rem 0.2rem;
  ;
}


.myvideo {
    width: 100%;
    border: 3px solid black;
    border-radius: 15px;
    height: auto;
    margin: 1rem 1rem;
}
.video-container {

    text-align: center;
}


}

/* Media queries move div closer to the center on laptop & PC screens */
@media (max-width: 1400px) {
 
  .myvideo {
    width: 100%;
    border: 3px solid black;
    border-radius: 15px;
    height: auto;
    margin: 1rem 1rem;
}
.video-container {

    text-align: center;
}

}