@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {

    background-color: aqua;
}

.navbar-brand img {
  height: 50px;
  width: auto;
}
