@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {

    background-color:  white;
    padding-top: 62px; /*pushes the top of the header down under fixed navbar*/
   display: flex;
   flex-direction: column;
   
}
main {
flex: 1;
}
footer{
  width: 100%;
}

/*Navbar custom CSS style*/

.navbar-brand img {
  height: 50px;
  width: auto;
}

.navbar * {
color: rgb(15, 4, 57);
  font-size: 1.2rem;  
  font-weight: 500;   
  padding: 0.2rem 0.2rem;
   

}
.navbar .btn-primary {
  color: white !important;
  justify-content: center;
  background-color:   rgb(15, 4, 57);
}
.navbar .btn-primary:hover {
background-color:  rgb(37, 8, 155);

}

.navbar .nav-link:hover {
color: rgb(160, 106, 218);
}
.navbar .dropdown-item:hover {
    color: rgb(160, 106, 218);

}

/*Main section*/

img {

    width: 100%;
    height: auto;
}
.elements-grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 25px;
  font-family: "Poppins", sans-serif;
}

.element {
  border: 1px solid rgb(15, 4, 57);
  padding: 20px 10px;
  text-align: center;
  border-radius: 6px;
  transition: 0.2s ease;
  cursor: pointer;
}

.element:hover {
 border: 3px solid  rgb(160, 106, 218);
 transform: scale(1.05);
}

label span {

  font-size: 15.52px;
  color: rgb(15, 4, 57);
}

.icon {
  width: 40px;
  height: 40px;
  margin: 0 auto 10px;
  border: 1px solid rgb(160, 106, 218);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(15, 4, 57);
}

.element p {
  margin: 0;
  font-size: 14px;
  color: rgb(15, 4, 57);
}

#file-input {
  display:none;
 padding-bottom: 0;
}
.button1 {
  height: 100%;
  width: 100%;
} 

#file-input1 {
  display:none;
 padding-bottom: 0;}


 
    /*Contact info*/
#contact1 {
  background-color: rgba(0, 19, 53);
  color: white;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  font-family: "Poppins", sans-serif;
  text-align: left !important;



}
#contact1 .color1 {
  font-family: "DM Serif-Display", serif;
   color: rgb(160, 106, 218);
}

#contact1 #table1 * {
  background-color: transparent;
  color: white;
  margin-bottom: 2rem;
}


.social-links i {

    color: rgb(160, 106, 218);
    font-size: 1.9rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
 .social-links i:hover {
    color: rgb(56, 18, 96);

}







 





/* Media queries medium screens */
@media (max-width: 760px) {
   /*to make the navbar collapse properly*/
 .navbar * {
color: rgb(15, 4, 57);
  font-size: 92%;  
  font-weight: 500;   
  padding: 0.5rem 1rem;}

  .navbar .btn-primary {
  color: white !important;
  background-color:   rgb(15, 4, 57);
  width: 100px;
}
.navbar .btn-primary:hover {
background-color:  rgb(37, 8, 155);

}
.navbar-nav * {
  width: 100px !important;
}
form {

  width: 100%;
  padding: 2rem;
}

.element p {
  margin: 0;
   text-align: center;
  font-size: 10px;
  color: rgb(15, 4, 57);
}
.elements-grid {
  display: grid;
 grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  font-family: "Poppins", sans-serif;
  padding: 0px;
  width: auto;
}

label span {

  font-size: 15.52px;
  color: rgb(15, 4, 57);
}
}



/* Media queries medium screens */
@media (max-width: 1000px) {
   /*to make the navbar collapse properly*/
 .navbar * {
color: rgb(15, 4, 57);
  font-size: 95%;  
  font-weight: 500;   
  padding: 0.2rem 0.2rem; }

  label span {

  font-size: 15.52px;
  color: rgb(15, 4, 57);
}
 }
 


 
/* Media queries Laptop screens */
@media (max-width: 1200px) {
   /*to make the navbar collapse properly*/
 .navbar * {
color: rgb(15, 4, 57);
  font-size: 95%;  
  font-weight: 500;   
  padding: 0.2rem 0.2rem;}

  .element {
  border: 1px solid rgb(15, 4, 57);
  padding: 5px;
  text-align: center;
  border-radius: 2px;
  transition: 0.2s ease;
  cursor: pointer;
  width: 100%;

}
.elements-grid {
  display: grid;
 grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  font-family: "Poppins", sans-serif;
  padding: 5px;
  width: 100%;
}
.col-lg-4 {
  width: auto;
}
.element p {
  margin: 0;
   text-align: center;
  font-size: 97%;
  color: rgb(15, 4, 57);
}

label span {

  font-size: 15.52px;
  color: rgb(15, 4, 57);
}
}  




